.dropdown-list {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 14px #0000001a;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 280px;
}

.dropdown-list .hover-state-instance {
  align-self: stretch !important;
  width: 100% !important;
}
