.placeholder-text {
  height: 20px;
  position: relative;
  width: 184px;
}

.placeholder-text .div {
  color: #666666;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}
