.histrico-bsico {
    background-color: #eef2f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .histrico-bsico .overlap-wrapper {
    background-color: #eef2f7;
    height: 1065px;
    overflow: hidden;
    width: 1440px;
  }
  
  .histrico-bsico .overlap {
    height: 1065px;
    left: -4px;
    position: relative;
    width: 1460px;
  }
  
  .histrico-bsico .fotter {
    height: 332px;
    left: 4px;
    position: absolute;
    top: 733px;
    width: 1456px;
  }
  
  .histrico-bsico .overlap-group {
    height: 332px;
    position: relative;
    width: 1440px;
  }
  
  .histrico-bsico .rectangle {
    background-color: #609b00;
    height: 304px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .histrico-bsico .div {
    background-color: #000000;
    height: 72px;
    left: 0;
    position: absolute;
    top: 260px;
    width: 1440px;
  }
  
  .histrico-bsico .copyright {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 457px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 274px;
    width: 548px;
  }
  
  .histrico-bsico .text-wrapper {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .histrico-bsico .span {
    font-weight: 700;
  }
  
  .histrico-bsico .text-wrapper-2 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 300;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 158px;
    width: 198px;
  }
  
  .histrico-bsico .internet {
    height: 20px;
    left: 926px;
    position: absolute;
    top: 161px;
    width: 20px;
  }
  
  .histrico-bsico .text-wrapper-3 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 300;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 122px;
    width: 188px;
  }
  
  .histrico-bsico .hand-with-smartphone {
    height: 20px;
    left: 926px;
    position: absolute;
    top: 125px;
    width: 20px;
  }
  
  .histrico-bsico .text-wrapper-4 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 300;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 86px;
    width: 175px;
  }
  
  .histrico-bsico .envelope {
    height: 20px;
    left: 926px;
    position: absolute;
    top: 92px;
    width: 20px;
  }
  
  .histrico-bsico .text-wrapper-5 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 18px;
    font-weight: 300;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
    width: 188px;
  }
  
  .histrico-bsico .place-marker {
    height: 20px;
    left: 925px;
    position: absolute;
    top: 53px;
    width: 20px;
  }
  
  .histrico-bsico .text-wrapper-6 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 866px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
    width: 232px;
  }
  
  .histrico-bsico .p {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 300;
    left: 53px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
    width: 627px;
  }
  
  .histrico-bsico .text-wrapper-7 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    white-space: nowrap;
    width: 232px;
  }
  
  .histrico-bsico .tabela {
    height: 945px;
    left: 322px;
    position: absolute;
    top: 84px;
    width: 1102px;
  }
  
  .histrico-bsico .overlap-2 {
    height: 891px;
    left: 0;
    position: absolute;
    top: 54px;
    width: 1098px;
  }
  
  .histrico-bsico .rectangle-2 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 576px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1098px;
  }
  
  .histrico-bsico .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: 817px;
    left: 458px;
    position: absolute;
    top: 74px;
    width: 113px;
  }
  
  .histrico-bsico .text {
    align-self: stretch;
    color: #727272;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .histrico-bsico .text-wrapper-8 {
    color: #727272;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .histrico-bsico .line {
    height: 2px;
    left: 6px;
    position: absolute;
    top: 0px;
    width: 106px;
  }
  
  .histrico-bsico .cebola {
    height: 92px;
    left: 17px;
    position: absolute;
    top: 445px;
    width: 1061px;
  }
  
  .histrico-bsico .view-cebola {
    height: 34px;
    left: 450px;
    position: absolute;
    top: 24px;
    width: 68px;
  }
  
  .histrico-bsico .div-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #518200;
    border-radius: 3px;
    height: 34px;
    position: relative;
    width: 66px;
    left: 480px;
    top: 19px;
  }
  
  .histrico-bsico .text-wrapper-9 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 53px;
  }
  
  .histrico-bsico .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 799px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 42px;
  }
  
  .histrico-bsico .text-wrapper-11 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 639px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
  }
  
  .histrico-bsico .text-wrapper-12 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 47px;
  }
  
  .histrico-bsico .img {
    height: 76px;
    left: 159px;
    position: absolute;
    top: 16px;
    width: 120px;
  }
  
  .histrico-bsico .line-2 {
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1056px;
  }
  
  .histrico-bsico .macaxeira {
    height: 97px;
    left: 6px;
    position: absolute;
    top: 335px;
    width: 1072px;
  }
  
  .histrico-bsico .view-macaxeira {
    height: 34px;
    left: 958px;
    position: absolute;
    top: 37px;
    width: 68px;
  }
  
  .histrico-bsico .text-wrapper-13 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: -430px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
  }
  
  .histrico-bsico .text-wrapper-14 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 649px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
  }
  
  .histrico-bsico .text-wrapper-15 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 57px;
  }
  
  .histrico-bsico .rectangle-3 {
    height: 100px;
    left: -180px;
    position: absolute;
    top: -10px;
    width: 135px;
    border-radius: 20%;
  }
  
  .histrico-bsico .line-3 {
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1066px;
  }
  
  .histrico-bsico .batata {
    height: 86px;
    left: 6px;
    position: absolute;
    top: 236px;
    width: 1072px;
  }
  
  .histrico-bsico .view-batata {
    height: 34px;
    left: 958px;
    position: absolute;
    top: 30px;
    width: 68px;
  }
  
  .histrico-bsico .text-wrapper-16 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 814px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
  }
  
  .histrico-bsico .text-wrapper-17 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 650px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 38px;
  }
  
  .histrico-bsico .rectangle-4 {
    height: 76px;
    left: 170px;
    position: absolute;
    top: 10px;
    width: 120px;
  }
  
  .histrico-bsico .text-wrapper-18 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
  }
  
  .histrico-bsico .line-4 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1066px;
  }
  
  .histrico-bsico .cenoura {
    height: 93px;
    left: 6px;
    position: absolute;
    top: 132px;
    width: 1072px;
  }
  
  .histrico-bsico .view-cenoura {
    height: 34px;
    left: 958px;
    position: absolute;
    top: 32px;
    width: 68px;
  }
  
  .histrico-bsico .text-wrapper-19 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 814px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
  }
  
  .histrico-bsico .text-wrapper-20 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 650px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
  }
  
  .histrico-bsico .rectangle-5 {
    height: 73px;
    left: 170px;
    position: absolute;
    top: 20px;
    width: 120px;
  }
  
  .histrico-bsico .text-wrapper-21 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 40px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 34px;
  }
  
  .histrico-bsico .line-5 {
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1066px;
  }
  
  .histrico-bsico .milho {
    height: 80px;
    left: 6px;
    position: absolute;
    top: 44px;
    width: 1070px;
  }
  
  .histrico-bsico .view-milho {
    height: 34px;
    left: 958px;
    position: absolute;
    top: 23px;
    width: 68px;
  }
  
  .histrico-bsico .text-wrapper-22 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 811px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
  }
  
  .histrico-bsico .text-wrapper-23 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
  }
  
  .histrico-bsico .rectangle-6 {
    height: 70px;
    left: 170px;
    position: absolute;
    top: 10px;
    width: 120px;
  }
  
  .histrico-bsico .text-wrapper-24 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
  }
  
  .histrico-bsico .line-6 {
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1064px;
  }
  
  .histrico-bsico .navbar {
    height: 55px;
    left: 3px;
    position: absolute;
    top: 18px;
    width: 1079px;
  }
  
  .histrico-bsico .text-wrapper-25 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 456px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2px;
    width: 65px;
  }
  
  .histrico-bsico .text-wrapper-26 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 300px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 65px;
  }
  
  .histrico-bsico .text-wrapper-27 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 20;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 173px;
  }
  
  .histrico-bsico .text-wrapper-28 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 594px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 173px;
  }
  
  .histrico-bsico .text-wrapper-29 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 806px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 100px;
  }
  
  .histrico-bsico .text-wrapper-30 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 900px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 200px;
  }
  
  .histrico-bsico .text-wrapper-31 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 221px;
  }
  
  .histrico-bsico .menu {
    height: 733px;
    left: 0;
    position: absolute;
    top: 0;
    width: 323px;
  }
  
  .histrico-bsico .overlap-3 {
    background-color: #ffffff;
    height: 733px;
    position: relative;
    width: 309px;
  }
  
  .histrico-bsico .suporte-house {
    height: 41px;
    left: 13px;
    position: absolute;
    top: 461px;
    width: 24px;
  }
  
  .histrico-bsico .text-wrapper-32 {
    color: #609b00;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 465px;
    width: 235px;
  }
  
  .histrico-bsico .group {
    height: 50px;
    left: 37px;
    position: absolute;
    top: 451px;
    width: 231px;
  }
  
  .histrico-bsico .overlap-group-2 {
    height: 50px;
    position: relative;
    width: 229px;
  }
  
  .histrico-bsico .rectangle-7 {
    background-color: #518200;
    border-radius: 10px;
    height: 50px;
    left: 40;
    position: absolute;
    top: 400;
    width: 205px;
  }
  
  .histrico-bsico .text-wrapper-33 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 410px;
    width: 209px;
  }
  
  .histrico-bsico .pragas-e-agrotxico {
    height: 41px;
    left: 13px;
    position: absolute;
    top: 397px;
    width: 24px;
  }
  
  .histrico-bsico .overlap-4 {
    height: 91px;
    left: 56px;
    position: absolute;
    top: 361px;
    width: 210px;
  }
  
  .histrico-bsico .text-wrapper-34 {
    color: #609b00;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 42px;
    width: 210px;
  }
  
  .histrico-bsico .text-wrapper-35 {
    color: #609b00;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 164px;
  }
  
  .histrico-bsico .dados-do-solo-house {
    height: 41px;
    left: 13px;
    position: absolute;
    top: 355px;
    width: 24px;
  }
  
  .histrico-bsico .seleo-cultura-house {
    height: 41px;
    left: 13px;
    position: absolute;
    top: 304px;
    width: 24px;
  }
  
  .histrico-bsico .overlap-5 {
    height: 138px;
    left: 56px;
    position: absolute;
    top: 220px;
    width: 235px;
  }
  
  .histrico-bsico .text-wrapper-36 {
    color: #609b00;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 90px;
    width: 164px;
  }
  
  .histrico-bsico .text-wrapper-37 {
    color: #609b00;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 43px;
    width: 191px;
  }
  
  .histrico-bsico .text-wrapper-38 {
    color: #609b00;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 235px;
  }
  
  .histrico-bsico .regio-e-estao-house {
    height: 41px;
    left: 13px;
    position: absolute;
    top: 258px;
    width: 24px;
  }
  
  .histrico-bsico .plano-plantio-house {
    height: 41px;
    left: 13px;
    position: absolute;
    top: 212px;
    width: 24px;
  }
  
  .histrico-bsico .controle-house {
    height: 41px;
    left: 13px;
    position: absolute;
    top: 160px;
    width: 24px;
  }
  
  .histrico-bsico .text-wrapper-39 {
    color: #609b00;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 56px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 165px;
    width: 144px;
  }
  
  .histrico-bsico .header {
    background-color: transparent;
    height: 70px;
    left: 13px;
    position: absolute;
    top: 0;
    width: 1439px;
  }
  
  .histrico-bsico .overlap-6 {
    background-color: #518200;
    height: 70px;
    left: 296px;
    position: absolute;
    top: 0;
    width: 1135px;
  }
  
  .histrico-bsico .overlap-group-3 {
    height: 50px;
    left: 869px;
    position: absolute;
    top: 8px;
    width: 46px;
  }
  
  .histrico-bsico .ellipse {
    background-color: #ffffff;
    border-radius: 23px;
    height: 46px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 46px;
  }
  
  .histrico-bsico .text-wrapper-40 {
    line-height: normal;
    position: absolute;
    top: 4;
    white-space: nowrap;
    width: 46px;
    border-radius: 50%;
  }
  
  .histrico-bsico .text-wrapper-41 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 924px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
  }
  
  .histrico-bsico .text-wrapper-42 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 10px;
    font-weight: 300;
    left: 924px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 39px;
  }
  
  .histrico-bsico .text-wrapper-43 {
    color: #518200;
    font-family: "Poppins", Helvetica;
    font-size: 35px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
  }
  