.hover-state {
  background-color: #ffffff;
  height: 44px;
  position: relative;
  width: 280px;
}

.hover-state .item {
  color: #333333;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
}

.hover-state .default {
  font-weight: 400;
}

.hover-state .variant-2 {
  font-weight: 500;
}
