.formulario {
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.formulario .div {
  background-color: #eef2f7;
  height: 1059px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.formulario .fotter {
  height: 332px;
  left: 0;
  position: absolute;
  top: 726px;
  width: 1456px;
}

.formulario .overlap-group {
  height: 332px;
  position: relative;
  width: 1440px;
}

.formulario .rectangle {
  background-color: #609b00;
  height: 304px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.formulario .rectangle-2 {
  background-color: #000000;
  height: 72px;
  left: 0;
  position: absolute;
  top: 260px;
  width: 1440px;
}

.formulario .copyright {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 457px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 274px;
  width: 548px;
}

.formulario .text-wrapper {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.formulario .span {
  font-weight: 700;
}

.formulario .internet {
  height: 20px;
  left: 926px;
  position: absolute;
  top: 161px;
  width: 20px;
}

.formulario .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 960px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 158px;
  width: 198px;
}

.formulario .hand-with-smartphone {
  height: 20px;
  left: 926px;
  position: absolute;
  top: 125px;
  width: 20px;
}

.formulario .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 960px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 122px;
  width: 188px;
}

.formulario .envelope {
  height: 20px;
  left: 926px;
  position: absolute;
  top: 92px;
  width: 20px;
}

.formulario .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 960px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 86px;
  width: 175px;
}

.formulario .place-marker {
  height: 20px;
  left: 925px;
  position: absolute;
  top: 53px;
  width: 20px;
}

.formulario .text-wrapper-5 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 960px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 188px;
}

.formulario .text-wrapper-6 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 866px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 232px;
}

.formulario .sobre {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  width: 627px;
}

.formulario .text-wrapper-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 48px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
  width: 232px;
}

.formulario .overlap {
  height: 726px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1448px;
}

.formulario .dados-do-solo {
  height: 490px;
  left: 315px;
  position: absolute;
  top: 85px;
  width: 975px;
}

.formulario .anlise-granulomtrica {
  height: 287px;
  left: 630px;
  position: absolute;
  top: 80px;
  width: 345px;
}

.formulario .overlap-group-2 {
  background-color: #fafafa;
  border-radius: 12px;
  height: 287px;
  position: relative;
  width: 343px;
}

.formulario .formulario {
  height: 222px;
  left: 9px;
  position: absolute;
  top: 40px;
  width: 332px;
}

.formulario .div-2 {
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: #000000;
  height: 29px;
  left: 1px;
  position: absolute;
  top: 193px;
  width: 323px;
}

.formulario .text-wrapper-8 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 168px;
  white-space: nowrap;
  width: 165px;
}

.formulario .div-3 {
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: #000000;
  height: 29px;
  left: 1px;
  position: absolute;
  top: 137px;
  width: 323px;
}

.formulario .text-wrapper-9 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 112px;
  white-space: nowrap;
  width: 201px;
}

.formulario .div-4 {
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: #000000;
  height: 29px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 323px;
}

.formulario .text-wrapper-10 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
  white-space: nowrap;
  width: 195px;
}

.formulario .div-5 {
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: #000000;
  height: 29px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 323px;
}

.formulario .text-wrapper-11 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 211px;
}

.formulario .text-wrapper-12 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 252px;
}

.formulario .analise-quimica {
  height: 409px;
  left: 102px;
  position: absolute;
  top: 81px;
  width: 345px;
}

.formulario .overlap-2 {
  height: 409px;
  position: relative;
}

.formulario .fundo-analise {
  background-color: #fafafa;
  border-radius: 12px;
  height: 409px;
  left: 0;
  position: absolute;
  top: 0;
  width: 343px;
}

.formulario .formulario-2 {
  height: 334px;
  left: 9px;
  position: absolute;
  top: 40px;
  width: 336px;
}

.formulario .textiput-salinidade {
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: #000000;
  height: 29px;
  left: 0;
  position: absolute;
  top: 305px;
  width: 323px;
}

.formulario .text-wrapper-13 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 280px;
  white-space: nowrap;
  width: 117px;
}

.formulario .textiput {
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: #000000;
  height: 29px;
  left: 0;
  position: absolute;
  top: 249px;
  width: 323px;
}

.formulario .text-wrapper-14 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 224px;
  white-space: nowrap;
  width: 185px;
}

.formulario .text-wrapper-15 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 168px;
  white-space: nowrap;
  width: 116px;
}

.formulario .text-wrapper-16 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 112px;
  white-space: nowrap;
  width: 116px;
}

.formulario .text-wrapper-17 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 56px;
  white-space: nowrap;
  width: 117px;
}

.formulario .text-wrapper-18 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 28px;
}

.formulario .text-wrapper-19 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 173px;
}

.formulario .p {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 365px;
}

.formulario .menu {
  height: 726px;
  left: 0;
  position: absolute;
  top: 0;
  width: 306px;
}

.formulario .overlap-3 {
  background-color: #ffffff;
  height: 726px;
  position: relative;
  width: 290px;
}

.formulario .suporte-house {
  height: 41px;
  left: 13px;
  position: absolute;
  top: 511px;
  width: 24px;
}

.formulario .text-wrapper-20 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 515px;
  width: 92px;
}

.formulario .histrico-plantio {
  height: 41px;
  left: 13px;
  position: absolute;
  top: 465px;
  width: 24px;
}

.formulario .overlap-4 {
  height: 74px;
  left: 56px;
  position: absolute;
  top: 425px;
  width: 210px;
}

.formulario .text-wrapper-21 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 44px;
  width: 179px;
}

.formulario .text-wrapper-22 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 210px;
}

.formulario .pragas-e-agrotxico {
  height: 41px;
  left: 13px;
  position: absolute;
  top: 420px;
  width: 24px;
}

.formulario .overlap-5 {
  height: 147px;
  left: 13px;
  position: absolute;
  top: 269px;
  width: 234px;
}

.formulario .overlap-6 {
  height: 101px;
  left: 0;
  position: absolute;
  top: 46px;
  width: 207px;
}

.formulario .overlap-group-3 {
  height: 95px;
  left: 20px;
  position: absolute;
  top: 6px;
  width: 187px;
}

.formulario .rectangle-3 {
  background-color: #518200;
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 170px;
}

.formulario .button {
    position: absolute;
    top: 110%;
    left: 95%;
}

.formulario .button-rectangle {
    background-color: #518200;
    border-radius: 10px;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario .button-text {
  position: absolute;
  color: #000;
  letter-spacing: 0;
  white-space: nowrap;
  font-family: Poppins, Helvetica;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.3;
  height: 100%;
  width: 100%;
  text-align: center;
}

.formulario .text-wrapper-23 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 57px;
  width: 116px;
}

.formulario .text-wrapper-24 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 164px;
}

.formulario .seleo-cultura-house {
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.formulario .text-wrapper-25 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 191px;
}

.formulario .regio-e-estao-house {
  height: 41px;
  left: 13px;
  position: absolute;
  top: 264px;
  width: 24px;
}

.formulario .plano-plantio-house {
  height: 41px;
  left: 13px;
  position: absolute;
  top: 217px;
  width: 24px;
}

.formulario .text-wrapper-26 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 221px;
  width: 144px;
}

.formulario .controle-house {
  height: 41px;
  left: 13px;
  position: absolute;
  top: 161px;
  width: 24px;
}

.formulario .text-wrapper-27 {
  color: #609b00;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 165px;
  width: 144px;
}

.formulario .headder {
  height: 70px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 1435px;
}

.formulario .overlap-7 {
  background-color: #518200;
  height: 70px;
  left: 277px;
  position: absolute;
  top: 0;
  width: 1150px;
}

.formulario .overlap-group-4 {
  height: 50px;
  left: 884px;
  position: absolute;
  top: 8px;
  width: 46px;
}

.formulario .ellipse {
  background-color: #ffffff;
  border-radius: 23px;
  height: 46px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 46px;
}

.formulario .text-wrapper-28 {
  color: #7da240;
  font-family: "Poppins", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 28px;
}

.formulario .usuario-gmail-com {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 939px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
}

.formulario .text-wrapper-29 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
}

.formulario .text-wrapper-30 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 10px;
  font-weight: 300;
  left: 939px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 39px;
}

.formulario .text-wrapper-31 {
  color: #518200;
  font-family: "Poppins", Helvetica;
  font-size: 35px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
}
