.prototipos {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .prototipos .div-2 {
    background-color: #ffffff;
    height: 3116px;
    position: relative;
    width: 3297px;
  }
  
  .prototipos .pagina-principal {
    border: 1px solid;
    border-color: #000000;
    height: 2742px;
    left: 44px;
    position: absolute;
    top: 254px;
    width: 2835px;
  }
  
  .prototipos .overlap {
    border-radius: 8px;
    height: 422px;
    left: 27px;
    position: absolute;
    top: 38px;
    width: 325px;
  }
  
  .prototipos .listbox-title-instance {
    left: 23px !important;
    position: absolute !important;
    top: 33px !important;
  }
  
  .prototipos .placeholder-text-instance {
    left: 23px !important;
    position: absolute !important;
    top: 103px !important;
  }
  
  .prototipos .dropdown-list-instance {
    left: 23px !important;
    position: absolute !important;
    top: 173px !important;
  }
  
  .prototipos .rectangle {
    border: 2px dashed;
    border-color: #149500;
    border-radius: 8px;
    height: 422px;
    left: 0;
    position: absolute;
    top: 0;
    width: 325px;
  }
  
  .prototipos .overlap-2 {
    border-radius: 5px;
    height: 2644px;
    left: 443px;
    position: absolute;
    top: 48px;
    width: 2341px;
  }
  
  .prototipos .hover-state-2 {
    border: 1px dashed;
    border-color: #7b61ff;
    border-radius: 5px;
    height: 176px;
    left: 25px;
    overflow: hidden;
    position: absolute;
    top: 150px;
    width: 320px;
  }
  
  .prototipos .property-default {
    left: 20px !important;
    position: absolute !important;
    top: 30px !important;
  }
  
  .prototipos .property {
    left: 20px !important;
    position: absolute !important;
    top: 103px !important;
  }
  
  .prototipos .listbox-component-2 {
    border: 1px dashed;
    border-color: #7b61ff;
    border-radius: 5px;
    height: 2644px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 2341px;
  }
  
  .prototipos .property-default-2 {
    height: 289px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 308px;
  }
  
  .prototipos .design-component-instance-node {
    left: 14px !important;
    position: absolute !important;
    top: 0 !important;
    width: 280px !important;
  }
  
  .prototipos .overlap-group-2 {
    height: 261px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 308px;
  }
  
  .prototipos .listbox-main-2 {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 14px #0000001a;
    height: 60px;
    left: 14px;
    position: absolute;
    top: 0;
    width: 280px;
  }
  
  .prototipos .img {
    height: 6px;
    left: 247px;
    position: absolute;
    top: 27px;
    width: 11px;
  }
  
  .prototipos .placeholder-text-2 {
    left: 16px !important;
    position: absolute !important;
    top: 20px !important;
  }
  
  .prototipos .clip-list-2 {
    height: 261px;
    left: 0;
    position: absolute;
    top: 0;
    width: 308px;
  }
  
  .prototipos .property-variant {
    left: 20px !important;
    position: absolute !important;
    top: 615px !important;
  }
  
  .prototipos .listbox-component-instance {
    left: 34px !important;
    position: absolute !important;
    top: 1942px !important;
  }
  
  .prototipos .property-2 {
    left: 34px !important;
    position: absolute !important;
    top: 1285px !important;
  }
  
  .prototipos .property-3 {
    left: 1250px !important;
    position: absolute !important;
    top: 20px !important;
  }
  
  .prototipos .property-4 {
    left: 1250px !important;
    position: absolute !important;
    top: 660px !important;
  }
  
  .prototipos .property-5 {
    left: 1250px !important;
    position: absolute !important;
    top: 1407px !important;
  }
  
  .prototipos .text-wrapper-2 {
    color: #000000;
    font-family: "Montserrat", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 73px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 70px;
  }
  